    <!-- Page Content -->
    <div class="container" ng-controller="playerCtrl">
        <!-- <whenPaused>is this coming</whenPaused>  -->
        <div class"row">
                <div class="col-lg-8">


        <!-- Jumbotron Header -->

        <header class="jumbotron hero-spacer">
            <div class="input-group">      
                <!-- <div class="input-group-addon">Title</div> -->
                <h4 class="title" ng-show="!checked">{{contentTitle}}</h4>
                <input class="form-control" type="text" name="title" ng-model="contentTitle" ng-hide="!checked" ng-minlength="5" required>
                <div class="input-group-addon" ng-hide="checked">
                    <a href="" ng-click="checked=!checked">Edit title</a>
                </div>    
                <div class="input-group-addon" ng-show="checked">                        
                    <a href="" ng-click="changeTitle(checked)">Done Editing?</a>               
                </div>              
            </div>
            <br>
            <!-- My Player V3 Content. // Layout for content elements to be fetched -->
            <div id='playerwrapper' draggable="true" style='width: 620px; height: 400px; border:2px solid black'></div>
            
             

            <div id='metadata'>
                <br/>
            </div>
            <div id='bitrate' ng-hide="true">
                -- Bitrate --<br />
            </div>
            <div id='buffer' ng-hide="true">
                -- Buffer --<br />
            </div>


        </header>
        </div>


        <!-- Page Features -->
        <div class="col-md-4 hero-feature">
            <h3>Featured Videos</h3>
            <div class="videos" ng-repeat="item in assets.items">
                <div class="thumbnail" ng-click="selectContent(item.embed_code)">
                    <img src="{{item.preview_image_url}}" ng-click="loadVideo(item.name,item.description,item.embed_code)">
                    <div ng-hide="true" class="caption">
                        <h3>{{item.name}}</h3>
                        <p>{{item.description}}</p>
                        <p>
                            <button class="btn btn-primary" ng-click="loadVideo(item.name,item.description,item.embed_code)">Play Now!</button> 
                            <button class="btn btn-primary" ng-click="destroyVideo()">Stop Now!</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ooyala Code Challenge 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->