<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ooyala Code Challenge</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/ooMetaDataApp.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script src="js/angular.js"></script>
    <!-- Load Ooyala Player -->
    <!-- Put the <script> call in the head so the Player is there when the page loads. -->
    <!-- Player query string parameters are added on the line below. -->
    <script src='http://player.ooyala.com/v3/602ba758637949d7a3d98a871626e659'></script>
    <!-- Load additional custom modules --> 

</head>

<body ng-app="ooMetaDataApp">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Vai Metadata App</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Challenge</a>
                    </li>
                    <li>
                        <a href="#">Videos</a>
                    </li>
                    <li>
                        <a href="audios.html">Audios</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="playerCtrl">
        <!-- <whenPaused>is this coming</whenPaused>  -->
        <div class"row">
                <div class="col-lg-8">


        <!-- Jumbotron Header -->

        <header class="jumbotron hero-spacer">
            <div class="input-group">      
                <!-- <div class="input-group-addon">Title</div> -->
                <h4 class="title" ng-show="!checked">{{contentTitle}}</h4>
                <input class="form-control" type="text" name="title" ng-model="contentTitle" ng-hide="!checked" ng-minlength="5" required>
                <div class="input-group-addon" ng-hide="checked">
                    <a href="" ng-click="checked=!checked">Edit title</a>
                </div>    
                <div class="input-group-addon" ng-show="checked">                        
                    <a href="" ng-click="changeTitle(checked)">Done Editing?</a>               
                </div>              
            </div>
            <br>
            <!-- My Player V3 Content. // Layout for content elements to be fetched -->
            <div id='playerwrapper' draggable="true" style='width: 620px; height: 400px; border:2px solid black'></div>
            
             

            <div id='metadata'>
                <br/>
            </div>
            <div id='bitrate' ng-hide="true">
                -- Bitrate --<br />
            </div>
            <div id='buffer' ng-hide="true">
                -- Buffer --<br />
            </div>


        </header>
        </div>





        <!-- Page Features -->
        <div class="col-md-4 hero-feature">
            <h3>Featured Videos</h3>
            <div class="videos" ng-repeat="item in assets.items">
                <div class="thumbnail" ng-click="selectContent(item.embed_code)">
                    <img src="{{item.preview_image_url}}" ng-click="loadVideo(item.name,item.description,item.embed_code)">
                    <div ng-hide="true" class="caption">
                        <h3>{{item.name}}</h3>
                        <p>{{item.description}}</p>
                        <p>
                            <button class="btn btn-primary" ng-click="loadVideo(item.name,item.description,item.embed_code)">Play Now!</button> 
                            <button class="btn btn-primary" ng-click="destroyVideo()">Stop Now!</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ooyala Code Challenge 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


    <!-- script src='/mymodule.js'></script -->  
        <!-- angular app js -->
    <script src="js/ooMetaDataApp.js"></script> 

        <!-- Ooyala player JavaScript -->
    <script src="js/defaultplayer.js"></script>




</body>

</html>
